{% extends 'base.html.twig' %}

{% block title %}Player Search Results{% endblock %}

{% block menuTop %}{% include 'partials/menuTop.html.twig' %}{% endblock %}

{% block content %}
    <div class="my-3 p-3 bg-white rounded shadow-sm">
        <h6 class="border-bottom border-gray pb-2 mb-0">Player Search Results</h6>
        <table class="table table-striped">
            <thead>
            <tr>
                <th scope="col">playerID</th>
                <th scope="col">name</th>
                <th scope="col">goals</th>
                <th scope="col">liga</th>
                <th scope="col">season</th>
            </tr>
            </thead>
            <tbody>
            {% for player in players %}
                {% set goals = [] %}
                {% set liga = [] %}
                {% set year = [] %}
                {% for stats in player.playerStats %}
                    {% set goals = goals|merge([stats.goals]) %}
                    {% set liga = liga|merge([stats.liga]) %}
                    {% set year = year|merge([stats.year]) %}
                {% endfor %}
                <tr>
                    <th scope="row">{{ player.playerId }}</th>
                    <td>{{ player.name }}</td>
                    <td>{{ goals|join(', ') }}</td>
                    <td>{{ liga|join(', ') }}</td>
                    <td>{{ year|join(', ') }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

    </div>
{% endblock %}
