{% extends 'base.html.twig' %}

{% block title %}Team Results{% endblock %}

{% block menuTop %}{% include 'partials/menuTop.html.twig' %}{% endblock %}

{% block content %}
    <div class="my-3 p-3 bg-white rounded shadow-sm">
        <h6 class="border-bottom border-gray pb-2 mb-0">Team Results {{ "now"|date("Y") }}</h6>
        <table class="table table-striped">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">team</th>
                <th scope="col">draw</th>
                <th scope="col">goals</th>
                <th scope="col">lost</th>
                <th scope="col">matches</th>
                <th scope="col">opponent goals</th>
                <th scope="col">won</th>
                <th scope="col">points</th>
                <th scope="col">liga</th>
            </tr>
            </thead>
            <tbody>
            {%  for res in teamResults %}
                <tr>
                    <th scope="row">{{ loop.index }}</th>
                    <td>{{ res.team.name }}</td>
                    <td>{{ res.draw }}</td>
                    <td>{{ res.goals }}</td>
                    <td>{{ res.lost }}</td>
                    <td>{{ res.matches }}</td>
                    <td>{{ res.opponentGoals }}</td>
                    <td>{{ res.won }}</td>
                    <td>{{ res.points }}</td>
                    <td>{{ res.liga }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

    </div>
{% endblock %}
