<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
    <h5 class="my-0 mr-md-auto font-weight-normal">German Bundesliga</h5>
    <nav class="my-2 my-md-0 mr-md-3">
        <a class="p-2 text-dark" href="{{ path('match_index') }}">All Matches</a>
        <a class="p-2 text-dark" href="{{ path('match_upcoming') }}">Upcoming Matches</a>
        <a class="p-2 text-dark" href="{{ path('team_results') }}">Team Results</a>
    </nav>
    <form class="form-inline my-2 my-md-0" action="{{ path('player_search') }}">
        <input class="form-control mr-sm-2" type="search" name="name" placeholder="Search Player" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
    <a class="btn btn-outline-default" href="/register">Sign up</a>
    <a class="btn btn-outline-primary" href="/login">Login</a>
</div>