{% extends 'base.html.twig' %}

{% block menuTop %}{% include 'partials/menuTop.html.twig' %}{% endblock %}

{% block content %}
    <div class="my-3 p-3 bg-white rounded shadow-sm">
    <h6 class="border-bottom border-gray pb-2 mb-0">{% if app.request.get('_route') == 'match_upcoming' %}Upcoming{% else %}All{% endif %} Matches</h6>
        <table class="table table-striped">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">GroupName</th>
                <th scope="col">matchID</th>
                <th scope="col">date</th>
                {#<th scope="col">finished</th>#}
                <th scope="col">team1</th>
                <th scope="col">team2</th>
                <th scope="col">team1 vs team2</th>
            </tr>
            </thead>
            <tbody>
            {% for match in matches %}
                <tr>
                    <th scope="row">{{ loop.index }}</th>
                    <td>{{ match.ligaGroup.name }}</td>
                    <td><a href="{{ path('match_view', {matchId: match.matchId}) }}">{{ match.matchId }}</a></td>
                    <td>{{ match.date|date("d.m.Y H:i:s") }}</td>
                    {#<td>{% if match.isFinished %}yes{% endif %}</td>#}
                    <td>{{ match.team1.name }}</td>
                    <td>{{ match.team2.name }}</td>
                    <td>{% if match.team1Goals is not empty %}{{ match.team1Goals }}:{{ match.team2Goals }}{% else %}N/A{% endif %}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

    </div>
{% endblock %}